.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.playlist ul {
    list-style-type: none;

}

.playlist ul a {
    cursor: pointer;
    color: #428bca;
    text-decoration: none;
}
.playlist ul img {

    cursor: pointer;

}

.playlist ul a:visited {
    color: #428bca;
}

.playlist ul a:hover {
    color: #428bca;
    text-decoration: underline;
}

.meta-info {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 12%;
    font-weight: bold;
}

.meta-info span {
    font-weight: normal;
}

.videogular-container {
    width: 100%;
    margin: 0 auto;
    height: 320px;
    overflow: hidden;
}

@media (min-width: 992px) {
    .video-container {
        width: 940px;
        height: 528.75px;
    }
    .playlist {
        width: 940px;
        height: 528.75px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .video-container {
        width: 728px;
        height: 409.5px;
    }
    .playlist {
        width: 728px;
        height: 409.5px;
    }

}

@media (min-width: 540px) and (max-width: 767px) {
    .video-container {
        width: 520px;
        height: 292.5px;
    }
    .playlist {
        width: 520px;
        height: 292.5px;
    }

}

@media (min-width: 768px) {
    li{
        float: left;
        width: 25%;
    }
}

@media (min-width: 420px)  and  (max-width: 767px) {
    li {
        float: left;
        width: 50%;
    }
}